header
{

    display: flex;
    flex-direction: row;
    height: 95px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
}
*
{
  box-sizing: border-box;
}
body
{
  margin: 0px;
  background-color: #f2f2f2;
  min-width: 320px;
}
footer
{

    display: flex;
    flex-direction: row;
    height: 195px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
}

#container_horizontal_screen
{
  display: flex;
  background: url("../img/bc.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 385px;

}
#container_horizontal_screen::before
{

  content: " ";
  position: absolute;
  width: 100%;
  height: 385px;
  background: rgba(0, 0, 0, 0.35);
}
#text_horizontal_screen, #text_horizontal_screen_midle
{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin: 0px 224px 0px 224px;

  height: 332px;

  font-family: 'Bellota Text',cursive;
  color: #000000;
  font-size: 30px;
}

#container_half_screen
{
  display: flex;
  flex-direction: row;
}
#img_half_screen
{
 background: url("../img/photo-1571863005528-d4b29307e35a.jpg") no-repeat center center;
 background-size: cover;
 width: 50%;
 height: 618px;
}
#img_half_screen::before
{

 content: " ";
 position: absolute;
 width: 50%;
 height: 618px;
 background: rgba(0, 0, 0, 0.3);
}
#text_half_screen
{
  width: 50%;
  height: 618px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}
#title
{
  font: italic normal normal 38px 'Bellota Text', cursive;
  color: #000000;
}
#subtitle, #after_title
{
  font: italic normal normal 24px 'Bellota Text', cursive;
  color: #000000;

}
#main_text
{

  width: 35%;
  text-align: center;
  color: #000000;
  font: normal normal normal 18px 'Merriweather', serif;

}

#img_half_screen_2
{
 background: url("../img/pexels-juan-c-palacios-3438708.jpg") no-repeat center center;
 background-size: cover;
 width: 50%;
 height: 618px;
}
#img_half_screen_2::before
{

  content: " ";
  position: absolute;
  width: 50%;
  height: 618px;
  background: rgba(0, 0, 0, 0.4);
}

#img_half_screen_midle
{
 background: url("../img/photo-1559925393-8be0ec4767c8.jpg") no-repeat center center;
 background-size: cover;
 width: 50%;
 height: 618px;
 display: none;
}
#img_half_screen_midle::before
{

  content: " ";
  position: absolute;
  width: 50%;
  height: 618px;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 50px;
/*  margin: 10px 20px;*/
/*  padding: 20px 30px;*/
  margin: 10px 40% 30px 40%;
  position: relative;
  color: black;
  border: 1px solid black;
  background: none;
  font: normal normal normal 35px 'Bellota Text', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a:before,
a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
a:before {
  bottom: 0;
  left: 0;
  border-left: 3px solid black;
  border-top: 3px solid black;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
a:after {
  top: 0;
  right: 0;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
a:hover:before,
a:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
a:hover {background: rgba(0, 0, 0, 0.05);}
@media screen and (max-width: 768px)
{
  header
  {
    height: 60px;
  }

  footer
  {
    height: 80px;
  }
  #container_horizontal_screen, #container_horizontal_screen::before
  {
    height: 285px;
  }

  #text_horizontal_screen
  {
      font-size: 24px;
      align-items:center;
      justify-content: center;
      margin: 0px 124px 0px 124px;
      height: 380px;

  }
  #text_horizontal_screen_midle
  {
      /*font-size: 24px;
      align-items:center;
      justify-content: center;
      margin: 0px 124px 0px 124px;*/
      display: none;
  }
  #container_half_screen
  {
    display: flex;
    /*flex-direction: column-reverse;*/
    flex-direction: column;

  }
  #container_half_screen > #img_half_screen, #img_half_screen_2,
  #img_half_screen::before, #img_half_screen_2::before
  {
    width: 100%;
    height: 385px;
  }

  #text_half_screen
  {
    margin: 0px auto;
    height: 380px;
    width: 100%;
  }
  #main_text
  {
    width: 85%;
    text-align: center;
    color: #000000;
    font: normal normal normal 18px 'Merriweather', serif;
  }
  #img_half_screen_midle, #img_half_screen_midle::before
  {
    display:block;
    width: 100%;
    height: 385px;

  }

}

@media screen and (max-width: 400px)
{
  header
  {
    height: 60px;
  }

  footer
  {
    height: 80px;
  }
  #container_horizontal_screen, #container_horizontal_screen::before
  {
    height: 175px;
  }
  #text_horizontal_screen
  {
      font-size: 20px;
      align-items:center;
      justify-content: center;
      text-align: center;
        height: 380px;
      margin: 0px 20px 0px 20px;

  }
  #text_horizontal_screen_midle
  {
      display: none;
  }
  #container_half_screen
  {
    display: flex;
    /*flex-direction: column-reverse;*/

  }
  #container_half_screen > #img_half_screen, #img_half_screen_2,
  #img_half_screen::before, #img_half_screen_2::before
  {
      width: 100%;
      height: 385px;
  }
  #text_half_screen
  {
    height: 280px;
  }
  #img_half_screen_midle, #img_half_screen_midle::before
  {
    display:block;
    width: 100%;
    height: 385px;

  }

}
