*, *::before, *::after
{
  box-sizing: border-box;
}
body
{
  margin: 0px;
  background-color: #f2f2f2;
  min-width: 100%;
}
header
{

    display: flex;
    flex-direction: row;
    height: 95px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
}


#container_horizontal_screen
{
  position:relative;
  display: flex;
  background: url("../img/pexels-photo-1279330.jpeg");
   /*background: url("../img/pexels-photo-1279330.jpeg") center center cover no-repeat fixed;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 385px;
}

#container_horizontal_screen::before
{
  content: " ";
  min-width: 100%;
  position: absolute;
  height: 385px;
  background: rgba(0, 0, 0, 0.35);
}
#text_horizontal_screen
{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin: 0px 224px 0px 224px;

  height: 332px;
  font-family: 'Bellota Text', cursive;
  color: #000000;
  font-size: 30px;
}
#menu_container
{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap:2vw;
  width: 80%;
  min-width: 1230px;
  margin: auto;

}
#menu_block
{
  height: 370px;
  width: 375px;
  position: relative;
  overflow: hidden;
}

#menu_block p
{
  position: absolute;
  left: 0;
  text-align: center;
  color: #f2f2f2;
  margin: 0 auto;
  opacity: 0;
  padding: 50px 30px 10px 30px;
  transition: opacity .5s;
  font: normal normal normal 20px 'Bellota Text', cursive;

}
  #menu_block:hover p {

      opacity: 1;
      height: 370px;
      width: 375px;
      background: rgba(0, 0, 0, 0.5);
  }
  #menu_block img
  {
    height: 370px;
    width: 375px;
    object-fit: cover;
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
  }
  .button-wrapper a {
     text-decoration: none;
     outline: none;
     display: inline-block;
     padding: 10px 50px;
     margin: 10px auto;
     position: relative;
     color: black;
     border: 1px solid black;
     background: none;
     font: normal normal normal 35px 'Bellota Text', cursive;
     text-transform: uppercase;
     letter-spacing: 2px;
   }
  .button-wrapper a:before,
   .button-wrapper a:after {
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     opacity: 0;
     box-sizing: border-box;
   }
   .button-wrapper a:before {
     bottom: 0;
     left: 0;
     border-left: 3px solid black;
     border-top: 5px solid black;
     transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
   }
   .button-wrapper a:after {
     top: 0;
     right: 0;
     border-right: 3px solid black;
     border-bottom: 3px solid black;
     transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
   }
   .button-wrapper a:hover:before,
   .button-wrapper a:hover:after{
     height: 100%;
     width: 100%;
     opacity: 1;
   }
   .button-wrapper a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
   .button-wrapper a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
  .button-wrapper a:hover {background: rgba(0, 0, 0, 0.05);}

footer
{

    display: flex;
    flex-direction: row;
    height: 195px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
}
  @media screen and (max-width: 780px)
  {

    #menu_block
    {
      margin: 0 auto;
      height: 290px;
      width: 300px;

    }
    #menu_block img
    {

      height: 290px;
      width: 300px;

    }
    #menu_block:hover p {

        height: 320px;
        width: 340px;
    }


  }
  @media screen and (max-width: 400px)
  {
    #text_horizontal_screen
     {
         font-size: 20px;
         align-items:center;
         justify-content: center;
         text-align: center;
         margin: 0px 20px 0px 20px;
     }
    #menu_block
    {
      margin: 0 auto;
      height: 290px;
      width: 300px;

    }
    #menu_block img
    {

      height: 320px;
      width: 340px;

    }
    #menu_block:hover p
    {
        height: 320px;
        width: 340px;
    }

  }
