header
{

    display: flex;
    flex-direction: row;
    height: 95px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
    
}

footer
{
  display: flex;
  flex-direction: row;
  height: 195px;
  min-width: 360px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  font-family: 'Satisfy', cursive;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 30px;
}
*
{
  box-sizing: border-box;
}
body
{
  margin: 0px;
  background-color: #f2f2f2;
  min-width: 100%;
}
/*.shadow_full_screen
{
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  width: 100%;
  height: 700px;
}*/

#container_full_screen_1
{
/*  display: flex;
  background: url("C:/Users/Саша Комкова/Desktop/UNI/курсач/img/intro.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;*/
  display: flex;
  background: url("../img/intro.jpg");
  width: 100%;
  height: 700px;
  /*position: relative;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#container_full_screen_1::before
{

  content: " ";
  position: absolute;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.4);
}

#text_full_screen
{
  position: absolute;
  width: 100%;
  margin: 200px auto 0px auto;
  height: 500px;
  text-align: center;
}
p
{
  margin: 0px auto;
  text-transform: uppercase;
  color: #F2F2F2;
  font: italic normal normal 35px 'Bellota Text', cursive;
}
h2
{
margin: 0px auto;
  text-transform: uppercase;
  color: #F2F2F2;
  font: italic normal normal 90px 'Bellota Text', cursive;
}
.button-wrapper{
  display: flex;
  justify-content: center;
}
.button-wrapper a {
 text-decoration: none;
 outline: none;
 display: inline-block;
 padding: 10px 50px;
 margin: 10px 20px;
/*  margin: 10px auto;*/
 position: relative;
 color:#f2f2f2;
 border: 1px solid #f2f2f2;
 background: none;
 font: normal normal normal 35px 'Bellota Text', cursive;
 text-transform: uppercase;
 letter-spacing: 2px;
}
.button-wrapper a:before,
.button-wrapper a:after {
 content: "";
 position: absolute;
 width: 0;
 height: 0;
 opacity: 0;
 box-sizing: border-box;
}
.button-wrapper a:before {
 bottom: 0;
 left: 0;
 border-left: 3px solid #f2f2f2;
 border-top: 3px solid #f2f2f2;
 transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.button-wrapper a:after {
 top: 0;
 right: 0;
 border-right: 3px solid #f2f2f2;
 border-bottom: 3px solid #f2f2f2;
 transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.button-wrapper a:hover:before,
.button-wrapper a:hover:after{
 height: 100%;
  width: 100%;
 opacity: 1;
}
.button-wrapper a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.button-wrapper a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.button-wrapper a:hover {background: rgba(255, 255, 255, 0.05);}

#container_half_screen
{
  display: flex;
  flex-direction: row;
}


 #img_half_screen
{
  background: url("../img/block2.jpg") no-repeat center center;
  background-size: cover;
  width: 50%;
  height: 618px;
}
#img_half_screen::before
{

  content: " ";
  position: absolute;
  width: 50%;
  height: 618px;
  background: rgba(0, 0, 0, 0.3);
}


#container_full_screen_2
{
  display: flex;
  background: url("../img/intro2.png");
  /*position	: relative;*/
  width: 100%;
  height: 700px;
  /*flex-direction: column;
  align-items: center;
  justify-content: space-around;*/

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#container_full_screen_2::before
{

  content: " ";
  position: absolute;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.6);
}

#img_half_screen_2
{
 background: url("../img/block3.jpg") no-repeat center center;
 background-size: cover;
 width: 50%;
 height: 618px;
}
#img_half_screen_2::before
{

  content: " ";
  position: absolute;
  width: 50%;
  height: 618px;
  background: rgba(0, 0, 0, 0.4);
}
#container_full_screen_3
{
  display: flex;
  background: url("../img/photo-1590846406792-0adc7f938f1d.jpg");
  width: 100%;
  height: 700px;
  /*flex-direction: column;
  align-items: center;
  justify-content: space-around;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#container_full_screen_3::before
{

  content: " ";
  position: absolute;
  width: 100%;
  height: 700px;
  background: rgba(0, 0, 0, 0.5);
}

#img_half_screen_3
{
 background: url("../img/photo-1541086095944-f4b5412d3666.jpg") no-repeat center center;
 background-size: cover;
 width: 50%;
 height: 618px;
}
#img_half_screen_3::before
{
  content: " ";
  position: absolute;
  width: 50%;
  height: 618px;
  background: rgba(0, 0, 0, 0.3);
}
#text_half_screen
{
  width: 50%;
  height: 618px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}
#title
{
  font: italic normal normal 38px 'Bellota Text', cursive;
  color: #000000;
}
#subtitle, #after_title
{
  font: italic normal normal 24px 'Bellota Text', cursive;
  color: #000000;

}
#main_text
{

  width: 35%;
  text-align: center;
  color: #000000;
  font: normal normal normal 18px 'Merriweather', serif;
}
.menu
{
  max-width: 100%; /* Full width */
  max-height: 45px;
  position: fixed;
  top: 10;
  overflow: hidden;
  z-index: 999;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font: normal normal normal 24px 'Bellota Text', cursive;
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease-in-out;
}
.menu a:hover,
.menu a.active {
  color: #666363;
  transition: color 0.2s ease-in-out;
}
.container
{
  display: inline-block;
  cursor: pointer;

}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  margin: 4px 0;
  transition: 0.4s;
  background-color: #333;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}
@media screen and (max-width: 1024px)
{
  .menu a {
      padding: 4px 7px;
      font: normal normal normal 18px 'Bellota Text', cursive;
  }
  .menu a:hover,
  .menu a.active {
    color: #666363;
    transition: color 0.2s ease-in-out;
  }
}
@media screen and (max-width: 768px)
{
  header
  {
    height: 60px;
  }
  #container_full_screen_1, #container_full_screen_2, #container_full_screen_3,
  #container_full_screen_1::before, #container_full_screen_2::before, #container_full_screen_3::before
  {
    height: 385px;
  }
  #container_half_screen
  {
    display: flex;
    flex-direction: column-reverse;
  }
  #container_half_screen > #img_half_screen, #img_half_screen_2, #img_half_screen_3,
  #img_half_screen_1::before, #img_half_screen_2::before, #img_half_screen_3::before
  {
    display: none;
  }
  #text_half_screen
  {
    margin: 5px auto;
    height: 380px;
    width: 100%;
  }
  #main_text
  {
    width: 85%;
    text-align: center;
    color: #000000;
    font: normal normal normal 18px 'Merriweather', serif;

  }
  footer
  {
    height: 80px;
  }
  #text_full_screen
  {
    position: absolute;
    margin: 10% auto;
    height: 385px;
    text-align: center;
  }
  p
  {
    margin: 0px auto;
    text-transform: uppercase;
    color: #F2F2F2;
    font: italic normal normal 24px 'Bellota Text', cursive;
  }
  h2
  {
    margin: 0px auto;
    text-transform: uppercase;
    color: #F2F2F2;
    font: italic normal normal 45px 'Bellota Text', cursive;
  }
  .button-wrapper a {

    font: normal normal normal 18px 'Bellota Text', cursive;
  }
  .menu a {
      padding: 4px 7px;
      font: normal normal normal 14px 'Bellota Text', cursive;
  }
  .menu a:hover,
  .menu a.active {
    color: #666363;
    transition: color 0.2s ease-in-out;
  }

}
@media screen and (max-width: 640px)
{

}
@media screen and (max-width: 400px)
{
  #container_full_screen_1, #container_full_screen_2, #container_full_screen_3,
  #container_full_screen_1::before, #container_full_screen_2::before, #container_full_screen_3::before
  {
    width: 100%;
    height: 385px;
  }
  header
  {
    height: 60px;
  }

  footer
  {
    height: 80px;
  }
  .menu
  {
    display: none;
  }
  #text_full_screen
  {
    padding: 10px;
  }
  .menu_mobile{}
/*  #text_full_screen
  {
    width: 100%;
    margin: 10% auto;
    height: 385px;
    text-align: center;
  }
  p
  {
    margin: 0px auto;
    text-transform: uppercase;
    color: #F2F2F2;
    font: italic normal normal 24px 'Bellota Text', cursive;
  }
  h2
  {
    margin: 0px auto;
    text-transform: uppercase;
    color: #F2F2F2;
    font: italic normal normal 36px 'Bellota Text', cursive;
  }
  a {

    font: normal normal normal 18px 'Bellota Text', cursive;
  }*/

}
