header
{
  display: flex;
  align-items: center;
  height: 95px;
  width: 100%;
  max-height: 80px;
  background-color: #000000;
  font-family: 'Satisfy', cursive;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 30px;
  position:fixed;
  top: 0;
  z-index: 4;
}
.header_body
{
  margin-left: 45%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

*, *::before, *::after
{
  box-sizing: border-box;
}
body
{
  margin: 0px;
  background-color: #f2f2f2;
  min-width: 100%;
}
 .header__burger
 {
   display: block;
   width: 30px;
   height: 20px;
   position: relative;
   z-index: 4;
 }
 .header__burger::after,
 .header__burger::before,
 .header__burger span
 {
   content: " ";
   background: white;
   position: absolute;
   width: 100%;
   height: 2px;
   border-radius: 0.5px;
   /*margin-left: 600px;*/
   transition: all 0.3s ease 0s;
 /*  margin: 0px 0px 0px 250px;*/
 }
 .header__burger::after
 {
   bottom: 0;

 }
 .header__burger::before
 {
   top: 0;

 }
 .header__burger span
 {
   top: 9px;

 }

.header__burger.active::before
{
  transform: rotate(45deg);
  top: 9px;

}
.header__burger.active::after
{
  transform: rotate(-45deg);
  bottom: 9px;

}
.header__burger.active span
{
  display: none;
}

body.stop_scroll
{
 overflow: hidden;
}

.menu
{
  position: fixed;
  width: 100%;
  height: 100%;
  top:-100%;
  left: 0;
  opacity: 0.8;
  background-color: black;
  transition: all 0.3s ease 0s;
}
.menu.active
{
  top:0;
  z-index: 3;
}
.content
{
  margin-top: 80px;
}
.menu_list
{
  position: relative;
  z-index: 3;
  display: block;
  padding-top: 100px;

}
.menu a
{
    font: normal normal normal 30px 'Bellota Text', cursive;
    margin-bottom: 10px;
}
.menu a.active
{
  color: #FACF1A;
}
.menu_list li
{
  list-style: none;
}
.menu_link
{

  display: flex;
  justify-content:center;
color: #f2f2f2;
  text-align: center;
  margin: 5px 0px 0px 0px; /*верх-право-низ-лево*/
  text-decoration: none;
  text-transform: uppercase;
  font: normal normal normal 24px 'Bellota Text', cursive;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease-in-out;
}
.menu a:hover,
.menu a.active {
    color: #FACF1A;
  transition: color 0.2s ease-in-out;
}


footer
{

    display: flex;
    flex-direction: row;
    height: 195px;
    min-width: 360px;
    min-height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 30px;
}

#container_horizontal_screen
{
  position:relative;
  display: flex;
  background: url("../img/pexels-photo-1279330.jpeg");
   /*background: url("../img/pexels-photo-1279330.jpeg") center center cover no-repeat fixed;*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 385px;

/*  display: flex;
  background: url("C:/Users/Саша Комкова/Desktop/UNI/курсач/img/menu_intro.jpeg");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 385px;*/

}
#container_horizontal_screen::before
{
  content: " ";
  min-width: 100%;
  position: absolute;
  height: 385px;
  background: rgba(0, 0, 0, 0.35);
}
 #text_horizontal_screen
 {
   display: flex;
   flex-direction: row;
   align-items:center;
   justify-content: center;
   margin: 0px 224px 0px 224px;

   height: 332px;
   font-family: 'Bellota Text', cursive;
   color: #000000;
   font-size: 30px;
 }
 #menu_container
 {
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   grid-gap:2vw;
   width: 80%;
   max-width: 1230px;
   margin:
   auto;
 }
 #menu_block
 {
   height: 370px;
   width: 375px;
   position: relative;
   overflow: hidden;
 }

 #menu_block p
 {
   position: absolute;
   left: 0;
   text-align: center;
   color: #f2f2f2;
   margin: 0 auto;
   opacity: 0;
   padding: 50px 30px 10px 30px;
   transition: opacity .5s;
   font: normal normal normal 20px 'Bellota Text', cursive;

 }
   #menu_block:hover p {

       opacity: 1;
       height: 370px;
       width: 375px;
       background: rgba(0, 0, 0, 0.8);
   }
   #menu_block img
   {
     height: 370px;
     width: 375px;
     object-fit: cover;
   }

   .button-wrapper{
     display: flex;
     justify-content: center;
   }
 .button-wrapper a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 50px;
    margin: 10px 20px;
  /*  margin: 10px auto;*/
    position: relative;
    color: black;
    border: 1px solid black;
    background: none;
    font: normal normal normal 35px 'Bellota Text', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .button-wrapper a:before,
  .button-wrapper a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
  }
  .button-wrapper a:before {
    bottom: 0;
    left: 0;
    border-left: 3px solid black;
    border-top: 3px solid black;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
  }
  .button-wrapper a:after {
    top: 0;
    right: 0;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
  }
  .button-wrapper a:hover:before,
  .button-wrapper a:hover:after{
    height: 100%;
     width: 100%;
    opacity: 1;
  }
  .button-wrapper a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
  .button-wrapper a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
  .button-wrapper a:hover {background: rgba(0, 0, 0, 0.05);}


 @media screen and (max-width: 780px)
 {
   #container_horizontal_screen, #container_horizontal_screen::before
   {

     height: 285px;
   }

   #text_horizontal_screen
   {
       font-size: 24px;
       align-items:center;
       justify-content: center;
       margin: 0px 124px 0px 124px;
   }
   #menu_block
   {
     margin: 0 auto;
     height: 290px;
     width: 300px;

   }
   #menu_block img
   {

     height: 290px;
     width: 300px;

   }
   #menu_block:hover p {

       height: 320px;
       width: 340px;
   }

 }

 @media screen and (max-width: 1024px)
 {
   .menu a {
       padding: 4px 7px;
       font: normal normal normal 18px 'Bellota Text', cursive;
   }
   .menu a:hover,
   .menu a.active
   {
     color: #666363;
     transition: color 0.2s ease-in-out;
   }
   #text_horizontal_screen
   {
       height: 170px;
       font-size: 20px;
       margin: 0px 50px 0px 50px;/*верх-право-низ-лево*/
   }
   .header__burger::after,
   .header__burger::before,
   .header__burger span
   {
     content: " ";
     background: white;
     position: absolute;
     width: 100%;
     height: 2px;
     border-radius: 0.5px;
     transition: all 0.3s ease 0s;
   /*  margin: 0px 0px 0px 250px;*/
   }
 }
 @media screen and (max-width: 768px)
 {
   header
   {
     position: relative;
     height: 60px;
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 4;
   }
  .menu
  {
    width: 100%;
    height: 100%;
    left: 0;
    top:-100%;
    opacity: 0.8;
    background-color: black;
    transition: all 0.3s ease 0s;
  }
  .menu_list
  {
    position: relative;
    z-index: 3;
    display: block;
    padding-top: 100px
  }
   .menu a
   {
       font: normal normal normal 30px 'Bellota Text', cursive;
       margin-bottom: 10px;
   }
   .menu a.active
   {
     color: #FACF1A;
   }
   .header__burger
   {
     display: block;
     width: 30px;
     height: 20px;
     position: relative;
     z-index: 4;
   }
   .header__burger::after,
   .header__burger::before,
   .header__burger span
   {
     content: " ";
     background: white;
     position: absolute;
     width: 100%;
     height: 2px;
     border-radius: 0.5px;
     transition: all 0.3s ease 0s;
   /*  margin: 0px 0px 0px 250px;*/
   }
   .header__burger::after
   {
     bottom: 0;

   }
   .header__burger::before
   {
     top: 0;

   }
   .header__burger span
   {
     top: 9px;

   }
  .content
  {
    margin-top: 60px;
  }
  .header__burger.active::before
  {
    transform: rotate(45deg);
    top: 9px;

  }
  .header__burger.active::after
  {
    transform: rotate(-45deg);
    bottom: 9px;

  }
  .header__burger.active span
  {
    display: none;
  }
  .menu.active
  {
    top:0;
    z-index: 3;
  }
 body.stop_scroll
 {
   overflow: hidden;
 }
 .button-wrapper a {

   font: normal normal normal 18px 'Bellota Text', cursive;
 }
}
@media screen and (max-width: 640px)
{
  #container_horizontal_screen, #container_horizontal_screen::before
  {
    height: 185px;
  }
  #text_horizontal_screen
  {
      height: 170px;
      font-size: 18px;
      margin: 0px 30px 0px 30px;/*верх-право-низ-лево*/
  }
  #menu_container
  {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:2vw;
    width: 80%;
    max-width: 1230px;
    margin: auto;
  }
  #menu_block img
  {
    height: 200px;
    width: 210px;
  }
  #menu_block
  {
    margin: 0 auto;
    height: 200px;
    width: 210px;
  }
  .menu a
  {
      font: normal normal normal 18px 'Bellota Text', cursive;
  }
  .header__burger::after,
  .header__burger::before,
  .header__burger span
  {
    content: " ";
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0.5px;
    transition: all 0.3s ease 0s;
  /*  margin: 0px 0px 0px 250px;*/
  }
  footer
  {
    height: 100px;
  }
}
@media screen and (max-width: 400px)
{
  .header__burger::after,
  .header__burger::before,
  .header__burger span
  {
    content: " ";
    background: white;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0.5px;
    transition: all 0.3s ease 0s;
  }
  header
  {
    height: 60px;
    position: fixed;
  }

  footer
  {
    height: 100px;
  }
  #container_horizontal_screen, #container_horizontal_screen::before
  {
    height: 175px;
  }
  #text_horizontal_screen
  {
      font-size: 14px;
      align-items:center;
      justify-content: center;
      text-align: center;
      margin: 0px 20px 0px 20px;
  }
  #menu_block
  {
    margin: 0 auto;
    height: 290px;
    width: 300px;

  }
  #menu_block img
  {

    height: 320px;
    width: 340px;

  }
  #menu_block:hover p
  {
      height: 320px;
      width: 340px;
  }


}
